﻿@model IEnumerable<AdvancedProject.Model.ViewModel.EmployeeModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@foreach (var item in Model)
{
    <div>
        @item.Name
    </div>
}